;registry=https://registry.npmjs.org/
@cgaudette-enterprise-cloud-testing:registry=https://npm.pkg.github.com/cgaudette-enterprise-cloud-testing
//npm.pkg.github.com/cgaudette-enterprise-cloud-testing:_authToken=${NPM_TOKEN}
